body {
  background-color: #f5f5f5;
  color: #3d3d3d;
}

.weather-app {
  max-width: 800px;
  margin: 30px auto;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 50px;
  min-height: 400px;
  padding: 35px 45px 45px 45px;
  color: #3d3d3d;
  font-family: "Azeret Mono", monospace;
  font-size: 17px;
}

.city-search {
  background-color: #f5f5f5;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  padding: 5px 15px 5px 15px;
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.city-search:focus {
  outline-color: #774cfe;
  color: #343434;
}

.search-button {
  border-radius: 30px;
  padding: 5px 15px;
  background: #774cfe;
  border: none;
  color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.search-button:hover {
  background-color: #5134b2;
  cursor: pointer;
  color: #f5f5f5;
}

.current-location-button {
  border-radius: 30px;
  padding: 5px 15px;
  background: #e564cd;
  border: none;
  color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.current-location-button:hover {
  background-color: #cc43b3;
  cursor: pointer;
  color: #f5f5f5;
}

.current-city {
  color: #3d3d3d;
  margin: 10px 0 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
}
.current-date {
  margin-bottom: 20px;
}
.current-city-weather-container {
  margin: 0 auto;
  max-width: 220px;
  max-height: 170px;
  padding: 30px;
  padding-bottom: 0;
  background: linear-gradient(127.04deg, #ff68c0 9.06%, #774cfe 97.79%);
  border-radius: 30px;
  color: #ffffff;
}
.current-city-temperature {
  font-size: 72px;
  font-weight: 600;
  margin-top: -10px;
}
.metrics {
  position: relative;
  top: -40px;
  font-size: 17px;
}
.current-city-weather-icon {
  position: relative;
  top: -70px;
  left: 120px;
  width: 120px;
  height: 120px;
}
.footer {
  text-align: center;
  margin: 0;
  padding: 0;
}
