body {
  background-color: #f5f5f5;
  color: #3d3d3d;
}

.weather-app {
  max-width: 850px;
  margin: 30px auto 10px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 50px;
  min-height: 400px;
  padding: 35px 45px 0px 45px;
  color: #3d3d3d;
  font-family: "Azeret Mono", monospace;
  font-size: 17px;
}

.city-search {
  background-color: #f5f5f5;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  padding: 5px 15px 5px 15px;
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.city-search:focus {
  outline-color: #774cfe;
  color: #343434;
}

.search-button {
  border-radius: 30px;
  padding: 5px 15px;
  background: #774cfe;
  border: none;
  color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.search-button:hover {
  background-color: #5134b2;
  cursor: pointer;
  color: #f5f5f5;
}

.current-location-button {
  border-radius: 30px;
  padding: 5px 15px;
  background: #e564cd;
  border: none;
  color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.current-location-button:hover {
  background-color: #cc43b3;
  cursor: pointer;
  color: #f5f5f5;
}

.current-city-container {
  margin: auto 0;
}
.current-city {
  color: #3d3d3d;
  margin: 10px 0 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
}
.current-date {
  margin-bottom: 20px;
}
.current-city-weather-container {
  margin: 40px auto;
  max-width: 220px;
  max-height: 150px;
  padding: 30px;
  padding-bottom: 0;
  background: linear-gradient(127.04deg, #ff68c0 9.06%, #774cfe 97.79%);
  border-radius: 30px;
  color: #ffffff;
}
.current-city-temperature {
  display: inline-block;
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
}
.units {
  position: relative;
  top: -40px;
  font-size: 17px;
}
.current-city-weather-icon {
  display: block;
  position: relative;
  font-size: 110px;
  top: -50px;
  left: 117px;
}
.current-city-weather-details {
  margin-bottom: 40px;
  text-align: center;
  padding: 0;
}
.current-city-weather-details .col {
  min-width: 107px;
}
.current-city-weather-details i {
  color: #774cfe;
}
.characteristic {
  font-size: smaller;
  color: #737373;
}

.forecast {
  /* min-width: 360px; */
  background: #ffffff;

  padding: 25px;
  margin: 15px 0 30px;
  border-radius: 30px;
}
.tomorrow-weather-container {
  padding: 15px;
  border-radius: 30px;
  min-width: 265px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: linear-gradient(127.04deg, #ff68c0 9.06%, #774cfe 97.79%);
}

.tomorrow-weather-icon {
  padding: 0;
  font-size: 110px;
  margin: auto;
  text-align: center;
}
.tomorrow-weather-details {
  /* min-width: 170px; */
  padding: 15px;
  margin: auto;
}
.tomorrow-temp {
  /* min-width: 170px; */
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
}
.next-days-forecast {
  margin: 25px auto 0;
  text-align: center;
}
.forecast-block {
  border: 1px solid #fc5eba;
  border-radius: 30px;
  margin: 10px auto 0;
  max-width: 55px;
  padding: 12px 7px;
}
.forecast-block i {
  display: block;
  margin: 5px auto;
  color: #fc5eba;
  font-size: 27px;
}

.footer {
  text-align: center;
  margin: 0;
  padding: 0;
}
